
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Categoria de Pessoa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <button ion-item *ngFor="let item of itens">
        <ion-thumbnail slot="start">
            <img alt="" src="{{bucketUrl}}/cat{{item.id}}.png" />
        </ion-thumbnail>
        <h2>{{ item.nome }}</h2>

    </button>
</ion-content>
