<ion-content padding>
 
    <h3>Elei&ccedil;&atilde;o APP</h3>
    
    <img src="assets/imgs/eleicaoapp.png" alt="logo">

    <form onload="fechaMenu()">
        <ion-item>
            <ion-input [(ngModel)]="creds.nome" name="nome" type="text" label="User:" value="user name"></ion-input>
        </ion-item>
        <ion-input [(ngModel)]="creds.senha" name="senha" type="password" label="Password:" value="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-button expand="block" (click)="abrirHome()">Entrar</ion-button>
    </form>
    <ion-button expand="block" fill="outline" (click)="signup()">Registrar</ion-button>

</ion-content>
