<ion-app>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-item>
                <ion-title>Elei&ccedil;&atilde;o APP</ion-title>
                <ion-note slot="end" color="tertiary">Usu&aacute;rio: {{ nome }}</ion-note>
            </ion-item>
           
        </ion-toolbar>
    </ion-header>
    <ion-text color="Primary">
        <h3>Sobre Eleição</h3>
            <img src="assets/imgs/eleicaoapp.png" alt="logo">
            <p>As eleições no Brasil seguem um sistema democrático no qual os cidadãos escolhem seus representantes em níveis federal, estadual e municipal.
            O país adota o voto obrigatório para todos os cidadãos alfabetizados com idades entre 18 e 70 anos.</p>
            <p>
                O sistema eleitoral inclui eleições para presidente, governadores, senadores, deputados federais e estaduais, e vereadores.

                As eleições são realizadas a cada quatro anos. O processo presidencial, por exemplo, pode ter dois turnos se nenhum candidato alcançar mais de 50% dos
                votos válidos no primeiro turno. Além disso, o sistema eleitoral brasileiro utiliza urnas eletrônicas, o que facilita a contagem rápida dos
                votos e torna o processo mais seguro e transparente.
            </p>

            <p> eleição de 2022 foi particularmente importante, marcando a disputa entre o ex-presidente Luiz Inácio Lula da Silva e o então presidente Jair Bolsonaro. </p>

     





    </ion-text>
</ion-app>

